* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header {
  height: 200px;
  background-color: rgb(113, 113, 219);
}

nav {
  display: flex;
  align-items: center;
  font-size: 0.9rem;
  font-weight: 400;
  justify-content: space-around;
  background-color: #fff;
  font-family: "Roboto", sans-serif;
}
nav img {
  width: 80px;
}

nav .search {
  margin: 10px;
  padding: 3px;
  border: 1px solid rgba(128, 128, 128, 0.664);
  border-radius: 3px;
}
button {
  padding: 10px 20px;
  border-radius: 50px;
  border: none;
  color: #fff;
  font-size: 0.8rem;
  font-weight: 500;
  cursor: pointer;
  background: rgb(24, 198, 131);
  transition: transform 0.2s ease 0s;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 15px -3px;
}
main {
  padding: 1% 8%;
}
h3 {
  background-color: grey;
}

.view-more {
  display: block;
  font-size: 1rem;
  align-items: center;
  margin: 20px auto;
}
.view-more:hover,
nav button:hover {
  transform: translateY(-2px);
}
h4 {
  font-weight: normal;
}
span {
  font-size: 0.8rem;
  opacity: 0.7;
}

table {
  margin-top: -100px;
  background-color: #fff;
  font-size: 0.8rem;
  font-family: "Roboto", sans-serif;
  border-collapse: collapse;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  min-width: 100%;
  table-layout: auto;
  text-align: right;
  border-radius: 3px;
  overflow: hidden;
}
.show-user-data th:not(:first-child) {
  font-weight: 400;
  padding: 10px;
  opacity: 0.7;
}
.show-user-data th:nth-child(-n + 2) {
  text-align: left;
}
.show-user-data td:first-child {
  text-align: center;
}

.show-user-data td,
.show-user-data th {
  font-weight: normal;
  border-bottom: 1px solid #ddd;
  padding: 10px;
  overflow: hidden;
}
.show-user-data td {
  width: fit-content;
  white-space: nowrap;
  cursor: pointer;
}

.coin-data {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  text-align: left;
}

.coin-data img {
  width: 30px;
  margin-right: 5px;
}
#chartContainer {
  height: 400px;
  width: 100%;
  cursor: pointer;
}
.loader {
  margin: 10px 0;
  display: flex;
  justify-content: center;
}
.circle {
  border: 5px solid #f3f3f3;
  border-top: 5px solid rgb(24, 198, 131);
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 1s linear infinite;
}
.error {
  color: grey;
  font-size: 1.5rem;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
