* {
  margin: 0;
  padding: 0;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
}
h1 {
  font-style: italic;
}
button,
select {
  margin: 10px;
  width: fit-content;
  font-size: 1rem;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  border: none;
  background-color: cadetblue;
}
button,
textarea,
select {
  outline: none;
  resize: none;
}
select {
  max-width: 180px;
}
select option {
  border-radius: 5px;
}
.parent {
  background-color: rgb(61, 65, 71);
}

main {
  padding: 10px;
  text-align: center;
}
.order{
  background-color: #17a2b8;
}
.add {
  background-color: #28a745;
}

li{
  text-align: left;
  margin: 10px 15px;
  padding: 0 10px;
  justify-content: space-between;
  font-size: 1.2rem;
  border-radius: 5px;
  border: 1px solid grey;
  list-style-type: none;
}
.wrap-content button:last-child {
  color: crimson;
}

.wrap-content button {
  font-size: 1.2rem;
  background-color: transparent;
  color: rgb(120, 135, 136);
  font-weight: 400;
}
.flex-row {
  display: flex;
  justify-content: space-between;
}
.add_task {
  display: flex;
  flex-direction: column;
}
.priority {
  width: fit-content;
  margin: 10px;
  align-self: flex-start;
}
.wrap-content {
  display: flex;
  align-items: center;
  display: flex;
  justify-content: space-between;
}