* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
}
header {
  width: 60%;
  color: #fff;
  text-align: center;
  padding: 10px;
  background-color: cadetblue;
}
header h1 {
  font-size: 2rem;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
main {
  width: 60%;
}
.column {
  display: grid;
  grid-template-columns: repeat(8);
  grid-template-rows: repeat(8, 5vw);
  grid-gap: 10px;
  margin-top: 10px;
}
img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  border-radius: 1px;
}
.img-1 {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;
}

.img-2 {
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 3;
}

.img-3 {
  grid-column-start: 5;
  grid-column-end: 9;
  grid-row-start: 1;
  grid-row-end: 6;
}

.img-4 {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 3;
  grid-row-end: 6;
}

.img-5 {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 6;
  grid-row-end: 9;
}

.img-6 {
  grid-column-start: 5;
  grid-column-end: 9;
  grid-row-start: 6;
  grid-row-end: 9;
}

.exit {
  color: rgb(87, 77, 77);
  position: absolute;
  font-size: 2rem;
  top: 10px;
  right: 20px;
  font-weight: 700;
  font-family: Arial, Helvetica, sans-serif;
  cursor: pointer;
}
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(49, 49, 49, 0.733);
  background-attachment: fixed;
}
.box {
  position: absolute;
  height: 600px;
  width: 600px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.box img {
  position: absolute;
  object-fit: contain;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.5s ease-out;
}
.slider {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: 0 30px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.slider span{
  opacity: .7;
  color: #fff;
  font-size: 4rem;
  font-weight: 700;
  cursor: pointer;
}