:root{
  --x: 0px;
  --y: 0px;
  --rotateX: 0;
  --rotate: 0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100%;
    background-color: cadetblue;
}

img {
  width: 200px;
}

.turtle {
  transform: translateX(var(--leftRight)) translateY(var(--topDown)) rotateY(var(--rotateX))
    rotate(var(--rotate));
  transition: transform 0.2s;
}
